/*@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #27272a;
    width: 100%;
    height: 100%;
}

.shadowcss{
    -webkit-box-shadow: -7px 6px 18px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: -7px 6px 18px -10px rgba(0,0,0,0.2);
    box-shadow: -10px 10px 50px -10px rgba(0,0,0,0.1);
}
.gradient{
    background: rgb(12,186,112);
    background: linear-gradient(325deg, rgba(12,186,112,1) 0%, rgba(48,144,102,1) 100%);
}